<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>New route</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="newRouteForm" (ngSubmit)="createRoute(newRouteForm)">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-text><h1><b>Fill in the route information</b></h1></ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Route title</ion-label>
                <ion-input name="routeTitle" formControlName="routeTitle" type="text" placeholder="Route title" clear-input="true"></ion-input>
                <ion-text color="danger" *ngIf="newRouteForm.hasError('required', 'routeTitle') && newRouteForm.controls.routeTitle.touched">Required field.</ion-text>
                <ion-text color="danger" *ngIf="newRouteForm.hasError('minlength', 'routeTitle') && newRouteForm.controls.routeTitle.touched">Route title must be longer.</ion-text>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Route description</ion-label>
                <ion-textarea name="routeDesc" formControlName="routeDesc" type="text" placeholder="Route description" clear-input="true"></ion-textarea>
                <ion-text color="danger" *ngIf="newRouteForm.hasError('required', 'routeDesc') && newRouteForm.controls.routeDesc.touched">Required field.</ion-text>
                <ion-text color="danger" *ngIf="newRouteForm.hasError('minlength', 'routeDesc') && newRouteForm.controls.routeDesc.touched">Route description must be longer.</ion-text>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Route length</ion-label>
                <ion-input name="routeLength" formControlName="routeLength" type="number" placeholder="Max group size" clear-input="true"></ion-input>
                <ion-text color="danger" *ngIf="newRouteForm.hasError('required', 'routeLength') && newRouteForm.controls.maxGroupSize.touched">Required field.</ion-text>
                <ion-text color="danger" *ngIf="newRouteForm.hasError('min', 'routeLength') && newRouteForm.controls.maxGroupSize.touched">Route length has to be over 1h.</ion-text>
                <ion-text color="danger" *ngIf="newRouteForm.hasError('max', 'routeLength') && newRouteForm.controls.maxGroupSize.touched">Route lenght can't be over 8h.</ion-text>
                <ion-text color="danger" *ngIf="newRouteForm.hasError('pattern', 'routeLength') && newRouteForm.controls.maxGroupSize.touched">Route length can only contain numbers.</ion-text>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Max group size</ion-label>
                <ion-input name="maxGroupSize" formControlName="maxGroupSize" type="number" placeholder="Max group size" clear-input="true"></ion-input>
                <ion-text color="danger" *ngIf="newRouteForm.hasError('required', 'maxGroupSize') && newRouteForm.controls.maxGroupSize.touched">Required field.</ion-text>
                <ion-text color="danger" *ngIf="newRouteForm.hasError('min', 'maxGroupSize') && newRouteForm.controls.maxGroupSize.touched">Max group size has to be above 0.</ion-text>
                <ion-text color="danger" *ngIf="newRouteForm.hasError('max', 'maxGroupSize') && newRouteForm.controls.maxGroupSize.touched">Max group size can't be over 10.</ion-text>
                <ion-text color="danger" *ngIf="newRouteForm.hasError('pattern', 'maxGroupSize') && newRouteForm.controls.maxGroupSize.touched">Max group size can only contain numbers.</ion-text>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Route pictures</ion-label>
                <ion-button name="routePics" formControlName="routePics">Add pictures</ion-button>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
                <ion-list >
                    <ion-list-header></ion-list-header>
                    <ion-item>
                      <ion-label position="stacked">Route POIs</ion-label>
                      <ion-select multiple="true" name="routePOIs" formControlName="routePOIs">
                        <ion-select-option>Belém Tower</ion-select-option>
                        <ion-select-option>Jerómimos Monastery</ion-select-option>
                        <ion-select-option>25 de Abril Bridge</ion-select-option>
                        <ion-select-option>São Jorge Castle</ion-select-option>
                      </ion-select>
                      <ion-text color="danger" *ngIf="newRouteForm.hasError('required', 'routePOIs') && newRouteForm.controls.routePOIs.touched">Required field.</ion-text>
                    </ion-item>
                  </ion-list>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button type="submit" [disabled]="newRouteForm.invalid" expand="block">Create route</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
</ion-content>
