<ion-header>
  <ion-toolbar>
    <ion-title>
      Messages
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="!auth">
    <ion-row>
      <ion-col>
        <ion-text><h1><b>Your messages will be shown here</b></h1></ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text>Log in needed to continue.</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-button expand="block" (click)="openLoginPage()">Log in</ion-button>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="auth">
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-list-header>Active conversations</ion-list-header>
          <ion-item (click)="openMessageDetail()">
            <ion-grid>
              <ion-row>
                <ion-col size="2"> 
                  <ion-avatar item-left>
                    <ion-img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"></ion-img>
                  </ion-avatar>
                </ion-col>
                <ion-col size="1"></ion-col>
                <ion-col>
                    <ion-text color="dark">
                        <b>Fabio</b>
                    </ion-text>
                      <ion-text color="gray">
                        <h6>Hi Antonio!</h6>
                      </ion-text>
                </ion-col>
              </ion-row>
            </ion-grid>
         </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
