<ion-header>
  <ion-toolbar>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="!auth">
    <ion-row>
      <ion-col>
        <ion-text><h1><b>Your profile</b></h1></ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text>Log in needed to continue.</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" disabled>
          <ion-icon slot="start" name="logo-facebook"></ion-icon>
            Login with Facebook
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="danger" expand="block" (click)="openLoginPage()">
          <ion-icon slot="start" name="mail"></ion-icon>
            Login with Email
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-button fill="clear" (click)="openRegisterPage()"><u>Don't have an account? Sign up</u></ion-button>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="auth">
    <ion-row>
      <ion-col>
          <ion-avatar>
              <ion-img src="https://a0.muscache.com/im/pictures/user/5af89d2b-e6db-49b5-888b-88cae8574556.jpg?aki_policy=profile_x_medium"></ion-img>
          </ion-avatar>
          <ion-text><h1><b>{{firstName}}</b></h1></ion-text>
          <ion-text>{{email}}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-list-header>
            <ion-label>Account configuration</ion-label>
          </ion-list-header>
          <ion-item lines="inset" (click)="openPersonalInfoPage()">
            <ion-label>
              Personal information
              <ion-icon slot="end" name="person" class="ion-float-right"></ion-icon>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="clearAuth()">Log out</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
