<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Antonio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item class="chat-message">
            <ion-grid>
              <ion-row class="left-bubble">
                <ion-col size="2"> 
                  <ion-avatar item-left>
                      <ion-img src="https://a0.muscache.com/im/pictures/user/5af89d2b-e6db-49b5-888b-88cae8574556.jpg?aki_policy=profile_x_medium"></ion-img>
                  </ion-avatar>
                </ion-col>
                <ion-col size="1"></ion-col>
                <ion-col>
                    <span class="msg-name">Antonio</span>
                    <span class="msg-date">19-06-2019</span>
                    <p text-wrap>Hi :)</p>
                </ion-col>
              </ion-row>
            </ion-grid>
         </ion-item>
         <ion-item class="chat-message">
            <ion-grid>
              <ion-row class="right-bubble">
                <ion-col size="8" text-right>
                    <span class="msg-name">Me</span>
                    <span class="msg-date">20-06-2019</span>
                    <p text-wrap>Hi Antonio!</p>
                </ion-col>
                <ion-col size="2"> 
                    <ion-avatar item-right>
                        <ion-img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"></ion-img>
                    </ion-avatar>
                  </ion-col>
              </ion-row>
            </ion-grid>
         </ion-item>
    </ion-list>
  </ion-content>
  
  <ion-footer>
    <ion-grid>
      <ion-row>
        <ion-col size="10">
          <ion-input type="text" placeholder="Type a message" [(ngModel)]="data.message" name="message"></ion-input>
        </ion-col>
        <ion-col size="2" (click)="sendMessage()">
          <ion-icon name="paper-plane"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>
