<ion-header>
  <ion-toolbar>
    <ion-title>
      Requests
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="!auth">
    <ion-row>
      <ion-col>
        <ion-text><h1><b>Your requests will be shown here</b></h1></ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text>Log in needed to continue.</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-button expand="block" (click)="openLoginPage()">Log in</ion-button>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="auth"> 
    <ion-row>
      <ion-col>
        <ion-text color="dark">
            <h1>Pending requests</h1>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-slides pager="true">
          <ion-slide>
            <ion-card>
              <ion-grid>
                <ion-row>
                  <ion-col size="4">
                      <ion-slides [options]="routeImgSlideOpts"> 
                        <ion-slide>
                          <ion-img src="https://a0.muscache.com/im/pictures/46972f32-13ad-434a-b27b-ea46ad82c277.jpg?aki_policy=poster"></ion-img>
                        </ion-slide>
                        <ion-slide>
                          <ion-img src="https://a0.muscache.com/im/pictures/fe086181-2c4d-499c-a3b2-63fd4ee07cb7.jpg?aki_policy=poster"></ion-img>
                        </ion-slide>
                      </ion-slides>
                  </ion-col>
                  <ion-col>
                    <ion-item>
                      <h6>Photograph Lisbon - Streets & Culture</h6>
                    </ion-item> 
                    <ion-card-content text-left>
                      <ion-label position="stacked"><b>Tourist name: </b></ion-label>
                      <p>Christine</p>
                      <ion-label position="stacked"><b>Arriving on: </b></ion-label>
                      <p>23-07-2019</p>
                      <ion-label position="stacked"><b>Leaving on: </b></ion-label>
                      <p>30-07-2019</p>
                      <ion-label position="stacked"><b>Group size: </b></ion-label>
                      <p>3</p>
                      <ion-label position="stacked"><b>Rating: </b></ion-label>
                      <p>4.4 (20)</p>
                      <ion-button fill="clear" (click)="openMessageAlert()"><u>Send message</u></ion-button>
                    </ion-card-content>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="6">
                    <ion-button expand="full" fill="clear" (click)="openAcceptDialog()">
                      <ion-icon name="checkmark-circle" class="accept"></ion-icon>
                    </ion-button>
                  </ion-col>
                  <ion-col size="6">
                    <ion-button expand="full" fill="clear" (click)="openRefuseDialog()">
                      <ion-icon name="close" class="refuse"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
