<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button type="submit" [disabled]="personalInfoForm.invalid">
        <ion-icon slot="end" name="save"></ion-icon>
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="personalInfoForm" (ngSubmit)="save(personalInfoForm)">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-text><h1><b>Your information</b></h1></ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list-header>Personal Info</ion-list-header>
          <ion-item>
            <ion-label position="stacked">First name</ion-label>
            <ion-input [value]="touristInfo[0].firstName" name="firstName" formControlName="firstName" type="text" placeholder="First name" clear-input="true"></ion-input>
            <ion-text color="danger" *ngIf="personalInfoForm.hasError('required', 'firstName') && personalInfoForm.controls.firstName.touched">Required field.</ion-text>
            <ion-text color="danger" *ngIf="personalInfoForm.hasError('minlength', 'firstName') && personalInfoForm.controls.firstName.touched">First name must be longer.</ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Last name</ion-label>
            <ion-input [value]="touristInfo[0].lastName" name="lastName" formControlName="lastName" type="text" placeholder="Last name" clear-input="true"></ion-input>
            <ion-text color="danger" *ngIf="personalInfoForm.hasError('required', 'lastName') && personalInfoForm.controls.lastName.touched">Required field.</ion-text>
            <ion-text color="danger" *ngIf="personalInfoForm.hasError('minlength', 'lastName') && personalInfoForm.controls.lastName.touched">Last name must be longer.</ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Date of Birth</ion-label>
            <ion-datetime [value]="touristInfo[0].dateOfBirth" name="dateOfBirth" formControlName="dateOfBirth" display-format="DD-MM-YYYY" placeholder="DD-MM-YYYY"></ion-datetime>
            <ion-text color="danger" *ngIf="personalInfoForm.hasError('required', 'dateOfBirth') && personalInfoForm.controls.dateOfBirth.touched">Required field.</ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Mobile</ion-label>
            <ion-input [value]="touristInfo[0].mobile" name="mobile" formControlName="mobile" type="tel" placeholder="Your number" clear-input="true"></ion-input>
            <ion-text color="danger" *ngIf="personalInfoForm.hasError('required', 'mobile') && personalInfoForm.controls.mobile.touched">Required field.</ion-text>
            <ion-text color="danger" *ngIf="personalInfoForm.hasError('minlength', 'mobile') && personalInfoForm.controls.mobile.touched">Mobile number must be longer.</ion-text>
            <ion-text color="danger" *ngIf="personalInfoForm.hasError('pattern', 'mobile') && personalInfoForm.controls.mobile.touched">Mobile number can only contain numbers.</ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input [value]="touristInfo[0].email" name="email" type="email" formControlName="email" placeholder="youremail@gmail.com" readonly></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Password</ion-label>
            <ion-input [value]="touristInfo[0].password" name="password" type="password" formControlName="password" placeholder="Password" clear-input="true"></ion-input>
            <ion-text color="danger" *ngIf="personalInfoForm.hasError('required', 'password') && personalInfoForm.controls.password.touched">Required field.</ion-text>
            <ion-text color="danger" *ngIf="personalInfoForm.hasError('minlength', 'password') && personalInfoForm.controls.password.touched">Password must be longer.</ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
            <ion-list >
                <ion-list-header>Languages</ion-list-header>
                <ion-item>
                  <ion-label position="stacked">Languages</ion-label>
                  <ion-select multiple="true" name="languages" formControlName="languages" [(ngModel)]="touristLanguages">
                    <ion-select-option *ngFor="let language of availableLanguages" [value]="language.languageId" [selected]="">{{language.languageName}}</ion-select-option>
                  </ion-select>
                  <ion-text color="danger" *ngIf="personalInfoForm.hasError('required', 'languages') && personalInfoForm.controls.languages.touched">Required field.</ion-text>
                </ion-item>
              </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
              <ion-list >
                  <ion-list-header>Interests</ion-list-header>
                  <ion-item>
                    <ion-label position="stacked">Interests</ion-label>
                    <ion-select multiple="true" name="interests" formControlName="interests" [(ngModel)]="touristInterests">
                      <ion-select-option *ngFor="let poiType of availablePOITypes" [value]="poiType.poiTypeId">{{poiType.poiTypeName}}</ion-select-option>
                    </ion-select>
                    <ion-text color="danger" *ngIf="personalInfoForm.hasError('required', 'interests') && personalInfoForm.controls.interests.touched">Required field.</ion-text>
                  </ion-item>
                </ion-list>
          </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
