<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end" *ngIf="auth">
      <ion-button fill="clear" (click)="openNewRoutePage()">
        <ion-icon slot="end" name="add" ></ion-icon>
          Create route
      </ion-button>
    </ion-buttons>
    <ion-title>
      Routes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="!auth">
    <ion-row>
      <ion-col>
        <ion-text><h1><b>Your routes will be shown here</b></h1></ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text>Log in needed to continue.</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-button expand="block" (click)="openLoginPage()">Log in</ion-button>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="auth"> 
    <ion-row>
      <ion-col>
        <ion-text color="dark">
            <h1>My routes</h1>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-slides pager="true">
          <ion-slide>
            <ion-card>
                <ion-slides [options]="slideOpts"> 
                  <ion-slide>
                    <ion-img src="https://a0.muscache.com/im/pictures/46972f32-13ad-434a-b27b-ea46ad82c277.jpg?aki_policy=poster"></ion-img>
                  </ion-slide>
                  <ion-slide>
                    <ion-img src="https://a0.muscache.com/im/pictures/fe086181-2c4d-499c-a3b2-63fd4ee07cb7.jpg?aki_policy=poster"></ion-img>
                  </ion-slide>
                </ion-slides>
              <ion-card-header>
                <ion-card-subtitle>Photo walk</ion-card-subtitle>
                <ion-card-title>Photograph Lisbon - Streets & Culture</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-item>
                    <ion-icon name="pin" slot="start"></ion-icon>
                    <ion-label>Lisbon</ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon name="timer" slot="start"></ion-icon>
                    <ion-label>2 hours</ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon name="people" slot="start"></ion-icon>
                    <ion-label>1-10</ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon name="star" slot="start"></ion-icon>
                    <ion-label>4.60 (400)</ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
