<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>New booking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-text color="dark">
          <h1>Book a guide</h1>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">City</ion-label>
          <ion-select name="city" placeholder="Select">
            <ion-select-option>Lisbon</ion-select-option>
            <ion-select-option>Porto</ion-select-option>
            <ion-select-option>Sintra</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
            <ion-label position="stacked">Group size</ion-label>
            <ion-input name="groupSize" type="number" placeholder="(max 10)"></ion-input>
          </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>  
          <ion-label position="stacked">Languages</ion-label>
          <ion-select multiple="true" name="Languages" placeholder="Select">
            <ion-select-option>Dutch</ion-select-option>
            <ion-select-option>English</ion-select-option>
            <ion-select-option>French</ion-select-option>
            <ion-select-option>German</ion-select-option>
            <ion-select-option>Portuguese</ion-select-option>
            <ion-select-option>Spanish</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Arriving date</ion-label>
          <ion-datetime name="arrivingDate" display-format="DD-MM-YYYY" placeholder="DD-MM-YYYY"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Departing date</ion-label>
          <ion-datetime name="departingDate" display-format="DD-MM-YYYY" placeholder="DD-MM-YYYY"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-button (click)="showRoutes()">Search</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item-divider></ion-item-divider>
  <ion-grid *ngIf="show">
    <ion-row>
      <ion-col>
        <ion-text color="dark">
          <h2>Available routes</h2>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
          <ion-slides pager="true">
              <ion-slide>
                <ion-card (click)="openRoutePage()">
                  <ion-grid>
                    <ion-row>
                      <ion-col size="4">
                          <ion-slides [options]="routeImgSlideOpts"> 
                            <ion-slide>
                              <ion-img src="https://a0.muscache.com/im/pictures/46972f32-13ad-434a-b27b-ea46ad82c277.jpg?aki_policy=poster"></ion-img>
                            </ion-slide>
                            <ion-slide>
                              <ion-img src="https://a0.muscache.com/im/pictures/fe086181-2c4d-499c-a3b2-63fd4ee07cb7.jpg?aki_policy=poster"></ion-img>
                            </ion-slide>
                          </ion-slides>
                      </ion-col>
                      <ion-col>
                        <ion-item>
                          <h6>Photograph Lisbon - Streets & Culture</h6>
                        </ion-item> 
                        <ion-card-content text-left>
                            <ion-item>
                                <ion-icon name="pin" slot="start"></ion-icon>
                                <ion-label>Lisbon</ion-label>
                            </ion-item>
                            <ion-item>
                                <ion-icon name="timer" slot="start"></ion-icon>
                                <ion-label>2 hours</ion-label>
                            </ion-item>
                            <ion-item>
                                <ion-icon name="star" slot="start"></ion-icon>
                                <ion-label>4.60 (400)</ion-label>
                            </ion-item>
                            <ion-item>
                                <ion-icon name="pricetag" slot="start"></ion-icon>
                                <ion-label>90,00 €</ion-label>
                            </ion-item>
                        </ion-card-content>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                          <ion-button fill="clear"><u>Book</u></ion-button>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card>
            </ion-slide>
            <ion-slide>
              <ion-card>
                <ion-grid>
                  <ion-row>
                      <ion-col size="4">
                          <ion-slides [options]="routeImgSlideOpts"> 
                              <ion-slide>
                                <ion-img src="https://a0.muscache.com/im/pictures/2ede9e38-b4de-477d-8fda-b5592104ae2c.jpg?aki_policy=poster" ></ion-img>
                              </ion-slide>
                              <ion-slide>
                                <ion-img src="https://a0.muscache.com/im/pictures/671f7597-c58b-4732-9506-49c35b6c326d.jpg?aki_policy=poster"></ion-img>
                              </ion-slide>
                          </ion-slides>
                      </ion-col>
                      <ion-col>
                        <ion-item>
                          <h6>Photographic Tour in Lisbon</h6>
                      </ion-item> 
                      <ion-card-content text-left>
                          <ion-item>
                              <ion-icon name="pin" slot="start"></ion-icon>
                              <ion-label>Lisbon</ion-label>
                          </ion-item>
                          <ion-item>
                              <ion-icon name="timer" slot="start"></ion-icon>
                              <ion-label>4 hours</ion-label>
                          </ion-item>
                          <ion-item>
                              <ion-icon name="star" slot="start"></ion-icon>
                              <ion-label>4.20 (208)</ion-label>
                          </ion-item>
                          <ion-item>
                              <ion-icon name="pricetag" slot="start"></ion-icon>
                              <ion-label>125,00 €</ion-label>
                          </ion-item>
                      </ion-card-content>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-button fill="clear"><u>Book</u></ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card>
            </ion-slide>
          </ion-slides>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
