<ion-header>
  <ion-toolbar>
    <ion-title>
      Explore
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
      <ion-row>
        <ion-col>
          <ion-searchbar></ion-searchbar>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text color="dark">
              <h1>Featured cities</h1>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-slides pager="true">
            <ion-slide>
              <ion-card (click)="openCityPage('Lisbon')"> 
                <ion-img src="https://blog.hotelscombined.com/wp-content/uploads/2017/08/Tejo-river-Lisbon-3.jpg?x79158"></ion-img>
                <ion-card-header>
                  <ion-card-title>Lisbon</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <p>Discover Lisbon, a city full of authenticity where old customs and ancient history intermix with cultural entertainment and hi-tech innovation.</p>
                </ion-card-content>
              </ion-card>
            </ion-slide>
            <ion-slide>
              <ion-card (click)="openCityPage('Sintra')">
                <ion-img src="https://cdn.thecrazytourist.com/wp-content/uploads/2017/11/ccimage-shutterstock_219148864-770x430.jpg"></ion-img>
                <ion-card-header>
                  <ion-card-title>Sintra</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <p>Sintra, the Moon Hill, is a place full of magic and mystery, where Nature and Man have combined in such a perfect symbiosis that UNESCO has granted it Word Heritage Site status.</p>
                </ion-card-content>
              </ion-card>
            </ion-slide>
            <ion-slide>
              <ion-card (click)="openCityPage('Porto')">
                <ion-img src="https://www.celina-tours.com/images/tours/porto/porto1-slide.jpg"></ion-img>
                <ion-card-header>
                  <ion-card-title>Porto</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <p>Porto is one of the oldest cities of the country and, as such, its path is sinuous and picturesque.                      Besides history and culture, Porto is also leisure, fun and night life.</p>
                </ion-card-content>
              </ion-card>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text color="dark">
            <h1>Featured routes</h1>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-slides pager="true">
            <ion-slide>
              <ion-card (click)="openRoutePage()">
                  <ion-slides [options]="slideOpts"> 
                    <ion-slide>
                      <ion-img src="https://a0.muscache.com/im/pictures/46972f32-13ad-434a-b27b-ea46ad82c277.jpg?aki_policy=poster"></ion-img>
                    </ion-slide>
                    <ion-slide>
                      <ion-img src="https://a0.muscache.com/im/pictures/fe086181-2c4d-499c-a3b2-63fd4ee07cb7.jpg?aki_policy=poster"></ion-img>
                    </ion-slide>
                  </ion-slides>
                <ion-card-header>
                  <ion-card-subtitle>Photo walk</ion-card-subtitle>
                  <ion-card-title>Photograph Lisbon - Streets & Culture</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <ion-item>
                      <ion-icon name="pin" slot="start"></ion-icon>
                      <ion-label>Lisbon</ion-label>
                  </ion-item>
                  <ion-item>
                      <ion-icon name="timer" slot="start"></ion-icon>
                      <ion-label>2 hours</ion-label>
                  </ion-item>
                  <ion-item>
                      <ion-icon name="star" slot="start"></ion-icon>
                      <ion-label>4.60 (400)</ion-label>
                  </ion-item>
                </ion-card-content>
              </ion-card>
            </ion-slide>
            <ion-slide>
              <ion-card>
                <ion-slides [options]="slideOpts"> 
                  <ion-slide>
                    <ion-img src="https://a0.muscache.com/im/pictures/8313aa6f-ef90-4f2b-a332-b63e8386d90d.jpg?aki_policy=poster" ></ion-img>
                  </ion-slide>
                  <ion-slide>
                    <ion-img src="https://a0.muscache.com/im/pictures/cc1b4f98-ec1b-47ff-951c-2ee90a6ad2c3.jpg?aki_policy=poster"></ion-img>
                  </ion-slide>
                  <ion-slide>
                      <ion-img src="https://a0.muscache.com/im/pictures/5f227648-f8ad-4d9c-bab9-eac235199931.jpg?aki_policy=poster"></ion-img>
                  </ion-slide>
                </ion-slides>
                <ion-card-header>
                  <ion-card-subtitle>History walk</ion-card-subtitle>
                  <ion-card-title>Discover Porto's Hidden Treasures</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <ion-item>
                      <ion-icon name="pin" slot="start"></ion-icon>
                      <ion-label>Porto</ion-label>
                  </ion-item>
                  <ion-item>
                      <ion-icon name="timer" slot="start"></ion-icon>
                      <ion-label>3 hours</ion-label>
                  </ion-item>
                  <ion-item>
                      <ion-icon name="star" slot="start"></ion-icon>
                      <ion-label>4.80 (357)</ion-label>
                  </ion-item>
                </ion-card-content>
              </ion-card>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
