<ion-content>
  <form [formGroup]="registrationForm" (ngSubmit)="register(registrationForm)">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-text><h1><b>Join us</b></h1></ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list-header>Personal Info</ion-list-header>
          <ion-item>
            <ion-label position="stacked">First name</ion-label>
            <ion-input name="firstName" formControlName="firstName" type="text" placeholder="First name" clear-input="true"></ion-input>
            <ion-text color="danger" *ngIf="registrationForm.hasError('required', 'firstName') && registrationForm.controls.firstName.touched">Required field.</ion-text>
            <ion-text color="danger" *ngIf="registrationForm.hasError('minlength', 'firstName') && registrationForm.controls.firstName.touched">First name must be longer.</ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Last name</ion-label>
            <ion-input name="lastName" formControlName="lastName" type="text" placeholder="Last name" clear-input="true"></ion-input>
            <ion-text color="danger" *ngIf="registrationForm.hasError('required', 'lastName') && registrationForm.controls.lastName.touched">Required field.</ion-text>
            <ion-text color="danger" *ngIf="registrationForm.hasError('minlength', 'lastName') && registrationForm.controls.lastName.touched">Last name must be longer.</ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Date of Birth</ion-label>
            <ion-datetime name="dateOfBirth" formControlName="dateOfBirth" display-format="DD-MM-YYYY" placeholder="DD-MM-YYYY"></ion-datetime>
            <ion-text color="danger" *ngIf="registrationForm.hasError('required', 'dateOfBirth') && registrationForm.controls.dateOfBirth.touched">Required field.</ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Mobile</ion-label>
            <ion-input name="mobile" formControlName="mobile" type="tel" placeholder="Your number" clear-input="true"></ion-input>
            <ion-text color="danger" *ngIf="registrationForm.hasError('required', 'mobile') && registrationForm.controls.mobile.touched">Required field.</ion-text>
            <ion-text color="danger" *ngIf="registrationForm.hasError('minlength', 'mobile') && registrationForm.controls.mobile.touched">Mobile number must be longer.</ion-text>
            <ion-text color="danger" *ngIf="registrationForm.hasError('pattern', 'mobile') && registrationForm.controls.mobile.touched">Mobile number can only contain numbers.</ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input name="email" type="email" formControlName="email" placeholder="youremail@gmail.com" clear-input="true"></ion-input>
            <ion-text color="danger" *ngIf="registrationForm.hasError('required', 'email') && registrationForm.controls.email.touched">Required field.</ion-text>
            <ion-text color="danger" *ngIf="registrationForm.hasError('minlength', 'email') && registrationForm.controls.email.touched">Email must be longer.</ion-text>
            <ion-text color="danger" *ngIf="registrationForm.hasError('email', 'email') && registrationForm.controls.email.touched">Invalid email.</ion-text>
            <ion-text color="danger" *ngIf="registrationForm.hasError('email_exists', 'email') && registrationForm.controls.email.touched">There is an account with this email</ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Password</ion-label>
            <ion-input name="password" type="password" formControlName="password" placeholder="Password" clear-input="true"></ion-input>
            <ion-text color="danger" *ngIf="registrationForm.hasError('required', 'password') && registrationForm.controls.password.touched">Required field.</ion-text>
            <ion-text color="danger" *ngIf="registrationForm.hasError('minlength', 'password') && registrationForm.controls.password.touched">Password must be longer.</ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
            <ion-list >
                <ion-list-header>Languages</ion-list-header>
                <ion-item>
                  <ion-label position="stacked">Languages</ion-label>
                  <ion-select multiple="true" name="languages" formControlName="languages">
                    <ion-select-option *ngFor="let language of availableLanguages" [value]="language.languageId">{{language.languageName}}</ion-select-option>
                  </ion-select>
                  <ion-text color="danger" *ngIf="registrationForm.hasError('required', 'languages') && registrationForm.controls.languages.touched">Required field.</ion-text>
                </ion-item>
              </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
              <ion-list >
                  <ion-list-header>Interests</ion-list-header>
                  <ion-item>
                    <ion-label position="stacked">Interests</ion-label>
                    <ion-select multiple="true" name="interests" formControlName="interests">
                      <ion-select-option *ngFor="let poiType of availablePOITypes" [value]="poiType.poiTypeId">{{poiType.poiTypeName}}</ion-select-option>
                    </ion-select>
                    <ion-text color="danger" *ngIf="registrationForm.hasError('required', 'interests') && registrationForm.controls.interests.touched">Required field.</ion-text>
                  </ion-item>
                </ion-list>
          </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button type="submit" [disabled]="registrationForm.invalid" expand="block">Register</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
