<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end" *ngIf="auth">
      <ion-button fill="clear" (click)="openNewBookingPage()">
        <ion-icon slot="end" name="add" ></ion-icon>
          New booking
      </ion-button>
    </ion-buttons>
    <ion-title>
      Bookings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="!auth">
    <ion-row>
      <ion-col>
        <ion-text><h1><b>Your bookings will be shown here</b></h1></ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text>Log in to start planning your next experience.</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-button expand="block" (click)="openLoginPage()">Log in</ion-button>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="auth">
    <ion-row>
      <ion-col>
        <ion-segment [(ngModel)]="futureOrPast" (ionChange)="segmentChanged($event)">
            <ion-segment-button value="future">
                <ion-text color="dark">
                  Future bookings
                </ion-text>
            </ion-segment-button>
            <ion-segment-button value="past">
                <ion-text color="dark">
                  Past bookings
                </ion-text>
            </ion-segment-button>
          </ion-segment>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="futureOrPast == 'future'">
      <ion-col>
          <ion-slides pager="true">
            <ion-slide>
              <ion-card>
                <ion-grid>
                  <ion-row>
                    <ion-col size="4">
                        <ion-slides [options]="routeImgSlideOpts"> 
                          <ion-slide>
                            <ion-img src="https://a0.muscache.com/im/pictures/46972f32-13ad-434a-b27b-ea46ad82c277.jpg?aki_policy=poster"></ion-img>
                          </ion-slide>
                          <ion-slide>
                            <ion-img src="https://a0.muscache.com/im/pictures/fe086181-2c4d-499c-a3b2-63fd4ee07cb7.jpg?aki_policy=poster"></ion-img>
                          </ion-slide>
                        </ion-slides>
                    </ion-col>
                    <ion-col>
                      <ion-item>
                        <h6>Photograph Lisbon - Streets & Culture</h6>
                      </ion-item> 
                      <ion-card-content text-left>
                        <ion-label position="stacked"><b>Guide name: </b></ion-label>
                        <p>Antonio</p>
                        <ion-label position="stacked"><b>Date: </b></ion-label>
                        <p>22-07-2019</p>
                        <ion-label position="stacked"><b>Time: </b></ion-label>
                        <p>16:00</p>
                        <ion-button fill="clear" (click)="openMessageAlert()"><u>Send message</u></ion-button>
                      </ion-card-content>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card>
            </ion-slide>
          </ion-slides>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="futureOrPast == 'past'">
        <ion-col>
            <ion-slides pager="true">
              <ion-slide>
                <ion-card>
                  <ion-grid>
                    <ion-row>
                      <ion-col size="4">
                          <ion-slides [options]="routeImgSlideOpts"> 
                              <ion-slide>
                                <ion-img src="https://a0.muscache.com/im/pictures/8313aa6f-ef90-4f2b-a332-b63e8386d90d.jpg?aki_policy=poster" ></ion-img>
                              </ion-slide>
                              <ion-slide>
                                <ion-img src="https://a0.muscache.com/im/pictures/cc1b4f98-ec1b-47ff-951c-2ee90a6ad2c3.jpg?aki_policy=poster"></ion-img>
                              </ion-slide>
                              <ion-slide>
                                  <ion-img src="https://a0.muscache.com/im/pictures/5f227648-f8ad-4d9c-bab9-eac235199931.jpg?aki_policy=poster"></ion-img>
                              </ion-slide>
                          </ion-slides>
                      </ion-col>
                      <ion-col>
                        <ion-item>
                          <h6>Discover Porto's Hidden Treasures</h6>
                        </ion-item> 
                        <ion-card-content text-left>
                          <ion-label position="stacked"><b>Guide name: </b></ion-label>
                          <p>Maria</p>
                          <ion-label position="stacked"><b>Date: </b></ion-label>
                          <p>19-06-2019</p>
                          <ion-label position="stacked"><b>Time: </b></ion-label>
                          <p>18:00</p>
                          <ion-button fill="clear" (click)="openRateAlert()"><u>Rate</u></ion-button>
                        </ion-card-content>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card>
              </ion-slide>
            </ion-slides>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text color="dark">
          <h1>Agenda</h1>
        </ion-text>
        <ion-button fill="outline" (click)="today()">Today</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
        <!-- Change the displayed calendar mode -->
        <ion-col size="4">
          <ion-button expand="block" [color]="calendar.mode == 'month' ? 'primary' : 'secondary'" (click)="changeMode('month')">Month</ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button expand="block" [color]="calendar.mode == 'week' ? 'primary' : 'secondary'" (click)="changeMode('week')">Week</ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button expand="block" [color]="calendar.mode == 'day' ? 'primary' : 'secondary'" (click)="changeMode('day')">Day</ion-button>
        </ion-col>
      
        <!-- Move back one screen of the slides -->
        <ion-col size="4" text-left>
          <ion-button fill="clear" (click)="back()">
            <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="4" text-center>
            {{ viewTitle }}
        </ion-col>
        <!-- Move forward one screen of the slides -->
        <ion-col size="4" text-right>
          <ion-button fill="clear" (click)="next()">
            <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
    </ion-row>
  </ion-grid>
  <calendar *ngIf="auth"
  [eventSource]="eventSource" 
  [calendarMode]="calendar.mode" 
  [currentDate]="calendar.currentDate"
  (onEventSelected)="onEventSelected($event)"
  (onTitleChanged)="onViewTitleChanged($event)"
  (onTimeSelected)="onTimeSelected($event)" 
  startHour="6"
  endHour="24"
  step="30"
  startingDayWeek="1">
  </calendar>
      
</ion-content>
