<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-tabs>
  <ion-tab-bar slot="top">
    <ion-tab-button tab="login">
      <ion-label>Login</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="register">
      <ion-label>Register</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-content>