<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{city}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-img src="https://blog.hotelscombined.com/wp-content/uploads/2017/08/Tejo-river-Lisbon-3.jpg?x79158"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text color="dark">
          <h1>Description</h1>
        </ion-text>
        <p>A historical city full of stories to tell, where the sun shines 290 days a year and the temperature rarely drops below 15oC. A city where you feel safe wandering around day or night, where the cuisine is dedicated to creating over a thousand ways to cook the beloved bacalhau (salted cod), and where you’ll find hotels and restaurants to suit every taste, budget and requirement. Discover Lisbon, a city full of authenticity where old customs and ancient history intermix with cultural entertainment and hi-tech innovation. Lisbon is ageless, but it loves company, as you will find out if you meet someone and ask them to explain, with lots of gestures and repetition, where the best place is to listen to Fado. After all, Lisbon is famous for its hospitality and the family-like way it welcomes visitors.</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text color="dark">
          <h1>Points of interest</h1>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
          <ion-slides pager="true">
            <ion-slide>
              <ion-card>
                <ion-img src="https://www.planetware.com/photos-large/P/belem-tower.jpg" ></ion-img>
                <ion-card-header>
                  <ion-card-subtitle>Monument</ion-card-subtitle>
                  <ion-card-title>Belém Tower</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                </ion-card-content>
              </ion-card>
            </ion-slide>
            <ion-slide>
              <ion-card>
                <ion-img src="https://www.visitlisboa.com/sites/default/files/md-slider-image/113-mosteiro-dos-jeronimos-2.jpg" ></ion-img>
                <ion-card-header>
                  <ion-card-subtitle>Monument</ion-card-subtitle>
                  <ion-card-title>Jerónimos Monastery</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                </ion-card-content>
              </ion-card>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
    <ion-row>
      <ion-col>
        <ion-text color="dark">
          <h1>Available routes</h1>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
          <ion-slides pager="true">
            <ion-slide>
              <ion-card (click)="openRoutePage()">
                  <ion-slides [options]="slideOpts" class="routeimage"> 
                    <ion-slide>
                      <ion-img src="https://www.cultuga.com.br/wp-content/uploads/2017/08/capa-o-que-fazer-em-lisboa-torre-belem-cultuga.jpg" ></ion-img>
                    </ion-slide>
                    <ion-slide>
                      <ion-img src="https://a0.muscache.com/im/pictures/fe086181-2c4d-499c-a3b2-63fd4ee07cb7.jpg?aki_policy=poster"></ion-img>
                    </ion-slide>
                  </ion-slides>
                <ion-card-header>
                  <ion-card-subtitle>Photo walk</ion-card-subtitle>
                  <ion-card-title>Photograph Lisbon - Streets & Culture</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <ion-item>
                      <ion-icon name="pin" slot="start"></ion-icon>
                      <ion-label>Lisbon</ion-label>
                  </ion-item>
                  <ion-item>
                      <ion-icon name="timer" slot="start"></ion-icon>
                      <ion-label>2 hours</ion-label>
                  </ion-item>
                  <ion-item>
                      <ion-icon name="star" slot="start"></ion-icon>
                      <ion-label>4.60 (400)</ion-label>
                  </ion-item>
                </ion-card-content>
              </ion-card>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
