<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
      <ion-row>
        <ion-col>
            <ion-slides [options]="slideOpts" pager="true"> 
              <ion-slide>
                <ion-img src="https://a0.muscache.com/im/pictures/46972f32-13ad-434a-b27b-ea46ad82c277.jpg?aki_policy=poster"></ion-img>
              </ion-slide>
              <ion-slide>
                <ion-img src="https://a0.muscache.com/im/pictures/fe086181-2c4d-499c-a3b2-63fd4ee07cb7.jpg?aki_policy=poster"></ion-img>
              </ion-slide>
            </ion-slides>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text color="dark">
              <h1>Photograph Lisbon - Streets & Culture</h1>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p>Starting at the Castle São Jorge we will look down at the river and some of the places ahead of us. Then we will descend on a photographic discovery of the city. With smartphone or camera in hand, explore Alfama's narrow streets, landmarks and peculiarities.</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
              <ion-icon name="pin" slot="start"></ion-icon>
              <ion-label>Lisbon</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
              <ion-icon name="timer" slot="start"></ion-icon>
              <ion-label>2 hours</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
            <ion-item>
                <ion-icon name="people" slot="start"></ion-icon>
                <ion-label>1-10</ion-label>
            </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
              <ion-icon name="pricetag" slot="start"></ion-icon>
              <ion-label>from 90,00 €</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-list-header>
              <h1>Ratings</h1>
            </ion-list-header>
            <ion-item lines="none">
              <ion-icon name="star" slot="start"></ion-icon>
              <ion-label>4.60 (400)</ion-label>
            </ion-item>
            <ion-item>
              <ion-grid>
                <ion-row>
                  <ion-col size="2"> 
                    <ion-avatar item-left>
                      <ion-img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"></ion-img>
                    </ion-avatar>
                  </ion-col>
                  <ion-col size="1"></ion-col>
                  <ion-col>
                    <ion-grid>
                      <ion-row>
                          <ion-text color="dark">
                            <b>Anonymous - 16-06-2019</b>
                          </ion-text>
                      </ion-row>
                      <ion-row>
                          <ion-icon name="star"></ion-icon>
                          <ion-icon name="star"></ion-icon>
                          <ion-icon name="star"></ion-icon>
                          <ion-icon name="star"></ion-icon>
                          <ion-icon name="star"></ion-icon>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <p>Fantastic tour. This trip really enhanced our stay in Lisbon!</p>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
